
body {
    color: #00f0ff;
    background-color: #000000;
}
.st-b7 {
    background-color: #0a0a0a;
}
.st-ag {
    border-color: #00f0ff;
}
.st-at {
    background-color: #1a1a1a;
}
.st-emotion-cache-18ni7ap {
    background-color: #000000;
}
.st-emotion-cache-1avcm0n {
    background-color: #000000;
}
